
   
.container{
    display: grid;
    grid-template-areas: "eden eden dva"
    "tri tri dva";
    grid-template-columns: 2fr 1fr 1fr;
    gap: 15px;
    min-height: 100vh;
   
}
body{
     background-color: hsl(0, 0%, 81%);
     padding: 10px;
}

.daniel{
    background-image: url("images/bg-pattern-quotation.svg");
    background-size: 150px 120px;
    background-repeat: no-repeat;
    background-color:  hsl(263, 55%, 52%);
    background-position: top right 130px;
    padding: 20px;
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
}
.daniellogo{
    display: grid;
    grid-template-areas: "slikad tekstd_h3"
    "slikad tekstd_h4";
    grid-template-columns: 1fr 12fr;
    margin: 15px;
}


.daniellogo img{
    grid-area: slikad;
    width: 35px;
}

.daniellogo h3{
    grid-area:tekstd_h3;
}
.daniellogo h4{
    grid-area:tekstd_h4;
}


.jona{
    background-color: hsl(217, 19%, 35%);
    padding: 20px;
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
}

.jonalogo{
    display: grid;
    grid-template-areas: "slikaj tekstj_h3"
    "slikaj tekstj_h4";
    grid-template-columns: 1.3fr 5fr;
   margin: 15px;
}
.jonalogo img{
    grid-area: slikaj;
     width: 35px;
}

.jonalogo h3{
    grid-area:tekstj_h3;
}
.jonalogo h4{
    grid-area:tekstj_h4;
}



.kiralogo{
    display: grid;
    grid-template-areas: "slika tekst_h3"
    "slika tekst_h4";
    grid-template-columns: 1fr 5fr;
    margin: 15px;
}
.kiralogo img{
    grid-area: slika;
    width: 35px;
}

.kiralogo h3{
    grid-area:tekst_h3;
      
}
.kiralogo h4{
    grid-area:tekst_h4;
}


.jeanet{
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
}

.jeanetlogo{
    display: grid;
    grid-template-areas: "slikad tekstd_h3"
    "slikad tekstd_h4";
    grid-template-columns: 1.3fr 6fr;
     margin: 15px;
}


.jeanetlogo img{
    grid-area: slikad;
    width: 35px;
}

.jeanetlogo h3{
    grid-area:tekstd_h3;
}
.jeanetlogo h4{
    grid-area:tekstd_h4;
}


.patrick{
    background-color: hsl(219, 29%, 14%);
    padding: 15px;
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
}
.patricklogo{
    display: grid;
    grid-template-areas: "slikad tekstd_h3"
    "slikad tekstd_h4";
    grid-template-columns: 0.8fr 9.5fr;
    margin: 4px;
    
}


.patricklogo img{
    grid-area: slikad;
     width: 35px;
}

.patricklogo h3{
    grid-area:tekstd_h3;
}
.patrick h4{
    grid-area:tekstd_h4;
}




.eden1{
    grid-area: eden;
    display: grid;
    grid-template-columns: 3.6fr 1.5fr;
   gap: 15px;
    
    
}
.dva2{
    grid-area: dva;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 8px;
    
    
    
    
}
.tri3{
    grid-area: tri;
    display: grid;
    grid-template-columns: 1.5fr 3.6fr;
    gap: 15px;
}

 h3, h4{
    font-size: 10px;
    margin: 0%;
}

h6{
    font-size: 25px;
    margin: 1%;
}

p{
    font-size: 18px;
}
img{
border-radius: 50%;
width: 60%;
}






@media screen and (max-width: 650px) {
.container{
    display: grid;
    grid-template-columns: 1fr;
     grid-template-areas: 
    'eden'
    'tri'
    'dva';
  
}

.eden1{
    grid-area: eden;
    display: grid;
    grid-template-columns: 1fr;
   gap: 15px;
    
    
}

.tri3{
    grid-area: tri;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

}